{% extends 'auth_layout.html' %}
{% load crispy_forms_tags %}

{% block auth %}
<h3>Create your Querios Account</h3>
<div class="registration-form-container">
    <form method="POST">
        {% csrf_token %}
        <!-- Considering that we are using the login views provided by DJjango,
        we can get all the fields by just using {{ form }}. But since we are using
        the Django-crispy-forms we do form|crispy-->
        {{ form|crispy }}
        <button type="submit" class="btn btn-sm btn-outline-primary">
            Create Account
        </button>
    </form>
    <p class="mt-2">
        Or
        <a href="{% url 'login' %}">Login to your Account</a>
    </p>
</div>

{% endblock %}